.content {
    overflow-y: scroll;
    height: 460px;
}
  
.content::-webkit-scrollbar-track {
    background-color: rgba(80, 80, 80, 1);
}
  
.content::-webkit-scrollbar {
    width: 0px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto;
}
